{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center ;">Tugas 4 PBP</h1>
<h3 style="text-align:center ;">Hi! Welcome {{username}}</h3>

<h5 style="text-align:center ;">Sesi terakhir login: {{ last_login }}</h5>
<table style="overflow-x: auto; margin: auto;">
  <col style="width : 20%;" />
  <col style="width : 70%;" />
  <col style="width : 10%;" />

  <tr>
    <th style="text-align:center">Title</th>
    <th style="text-align:center">Description</th>
    <th style="text-align:center">Date Created</th>
  </tr>
  {% for task in todolist %}
  <tr>
    <td style="text-align:center">{{task.title}}</td>
    <td style="text-align:center">{{task.description}}</td>
    <td style="text-align:center">{{task.date}}</td>
  </tr>
  {% endfor %}
</table>
<br></br>
<br></br>

<button style= "display: block; margin: auto;"><a href="{% url 'todolist:logout' %}">Logout</a></button>
<br></br>
<button style= "display: block; margin: auto;"><a href="{% url 'todolist:create-task' %}">Create Task</a></button>  

{% endblock content %}