{% extends 'base.html' %}

{% block meta %}
<title>Todolist Apps</title>
{% endblock meta %}

{% block content %}
<style type="text/css">
  
body {
  background: #60c7cb;
}

.card {
  background: #222;
  border: 1px solid #0b090a;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn-warning {
  color:yellow;
  background-color: white;
  border-color: white;
}

.zoom:hover {
  transform: scale(1.05);
}

</style>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Hi, Welcome {{username}}</a>
  <form class="form-inline">
    <button class="btn btn-warning my-2 my-sm-0" type="submit"><a href="{% url 'todolist:create-task' %}">Create Task</a></button>
    <button class="btn btn-danger my-2 my-sm-0" type="submit"><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </form>
</nav>

<div class="d-flex flex-wrap justify-content-center align-items-center gap-5 responsive-container py-5">
  {% for task in todolist %}
  <div class="card text-center zoom">
    <div class="card-header card-bg-rv"> Date Created: {{task.date}} </div>
    <div class="image-box card-bg-rv">
      <img src="https://i.ibb.co/b1tTPqm/todolist.webp" height="200">
      <div class="card responsive-card">
        <div class="card-body card-bg-rv">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text"> {{task.description}} </p>
          <a href= "delete/{{task.pk}}" class="btn btn-danger">Delete Task</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}