{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 PBP/PBD</h1>

  <h3>Name: {{nama}}</h5>

  <h3>Student ID: {{npm}} </h3>

  <br></br>
  
  <h2 style="text-align: center;">My Watch List</h2>
  <h2 style="color:blue; text-align: center;"> {{message}}</h2>
  
  <br></br>
  <br></br>

  <table style="width:100%">
    <tr>
      <th style="width: 5%">Watched</th>
      <th style="width:15%">Title</th>
      <th style="width: 5%">Rating</th>
      <th style="width:10%">Release Date</th>
      <th style="width: 65%">Review</th>
    </tr>

    {% comment %} Add the data below this line {% endcomment %}
    {% for mywatchlist in list_mywatchlist %}
    <tr>
        {% if mywatchlist.watched %}
        <td style="text-align:center">Sudah</td>
        {% else %}
        <td style="text-align:center">Belum</td>
        {% endif %}

        <td style="text-align:center">{{mywatchlist.title}}</td>
        <td style="text-align:center">{{mywatchlist.rating}}</td>
        <td style="text-align:center">{{mywatchlist.release_date}}</td>
        <td style="text-align:justify">{{mywatchlist.review}}</td>

    </tr>
{% endfor %}
  </table>

 {% endblock content %}

<!-- https://www.w3schools.com/html/html_table_sizes.asp --> 
<!-- https://blog.hubspot.com/website/html-space -->
<!-- https://stackoverflow.com/questions/72547200/how-to-set-an-if-statement-to-true-in-a-django-template -->
<!-- https://www.tutorialspoint.com/How-to-center-align-text-in-table-cells-in-HTML -->